<h1>CHECKOUT</h1>

<p>Cart Content:</p>

<div class="cart-item" *ngFor="let item of items">
  <span>{{ item.product.productName }} </span>
  <span>{{ item.amount }} </span>
  <span>{{ item.product.price }}</span>
</div>
<p>Total price: {{totalprice}} Kr</p>

<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <div>
    <label for="firstName">
      First Name
    </label>
    <input id="firstName" type="text" formControlName="firstName">
  </div>
  <div>

    <label for="lastName">
      Last Name
    </label>
    <input id="lastName" type="text" formControlName="lastName">
  </div>

  <div>
    <label for="phoneNumber">
      Phone Number
    </label>
    <input id="phoneNumber" type="number" formControlName="phoneNumber">
  </div>

  <div>
    <label for="email">
      E-mail
    </label>
    <input id="email" type="text" formControlName="email">
  </div>

  <div>
    <label for="address">
      Address
    </label>
    <input id="address" type="text" formControlName="address">
  </div>

  <button class="button" type="submit">Submit</button>

</form>

<!-- grayed out until customer information is submitted -->
<button (click)="sendOrder()">Purchase</button>